
/* Card Section */

#box-cards {
    display: flex;
    flex-wrap: wrap;
}

.c-client {
    margin-right: 1rem;
}

#btn-deleteCard {
    margin-left: 2rem;
}

/* ------------ */


/* Media Queries */

@media screen and (min-width: 768px) {
    #box-cards {flex-direction: row;}

}

@media screen and (max-width: 768px) {
    #box-cards {
        flex-direction: column;
        align-items: center;
    }

    .box-main-info {
        width: 40vw;
        height: 90vh;
    }
}