
/* Card Section */

main {
    display: flex;
    padding-top: 5rem;
    justify-content: center;
    align-items: start;
}

#container .row:first-child {
    justify-content: center;
}

#box-main-info {
    padding: 1rem 2rem;
    border-radius: 1rem;
}

#box-cards {
    display: flex;
    flex-wrap: wrap;
}

.c-client {
    margin-right: 1rem;
}

#btn-deleteCard {
    margin-left: 2rem;
}

/* ------------ */


/* Media Queries */

@media screen and (max-width: 768px) {
    #box-cards {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 768px) {
    #box-cards {
        flex-direction: row;
    }
}

