* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.box-main-info {
    display: flex;

    flex-direction: column;
    text-align: center;

    width: 20vw;
    height: 50vh;

    margin: auto auto;
    padding: 2rem;

    border: 1px solid;
    border-radius: 1rem;
    border-color: #4c4a5015;
    box-shadow: 5px 5px 100px 15px rgba(255, 255, 255, 0.1);

    z-index: 100;
}


#userForm {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 1rem;
}

.login-info {
    width: 100%;
}



/* Media Queries */

/* Width */

@media screen and (max-width: 768px) {
    .box-main-info {
        width: 75vw;
    }
}

@media screen and (min-width: 768px) {
    .box-main-info {
        width: 50vw;
    }
}

/* Height */

@media screen and (max-height: 740px) {
    .box-main-info {
        height: 65vh;
    }
}

@media screen and (min-height: 1024px) {
    .box-main-info {
        height: 55vw;
    }
}

/* Specific Sizes */

@media screen and (width: 280px) and (height: 653px) {
    .box-main-info {
        margin-top: 15vh;
        width: 90vw;
        height: 75vh;
    }
}

@media screen and (width: 375px) and (height: 812px) {
    .box-main-info {
        width: 85vw;
        height: 55vh;
    }
}

@media screen and (width: 1024px) and (height: 600px) {
    .box-main-info {
        width: 35vw;
        height: 45vw;
    }
}

@media screen and (width: 1280px) and (height: 800px) {
    .box-main-info {
        width: 30vw;
        height: 35vw;
    }
}

@media screen and (min-width: 1400px) and (min-height: 800px) {
    .box-main-info {
        width: 20vw;
        height: 45vh;
    }
}

